{% extends "@AkyosCore/layout.html.twig" %}

{% block title %}Ajouter un composant{% endblock %}

{% block page_content %}
    <div class="content">

        <div class="card">
            <div class="card-header">
                <h3 class="block-title">Ajouter un composant</h3>
                <a href="{{ path('templates_builder_index') }}" class="btn btn-outline-secondary">Retour <i class="fa fa-plus"></i></a>
            </div>
            <div class="card-body">
                {{ include('@AkyosBuilder/templates_builder/_form.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("/bundles/akyosbuilder/main.js") }}" type="application/javascript"></script>
{% endblock %}
