{% extends "@AkyosCms/layout.html.twig" %}

{% block title %}Ajouter un composant{% endblock %}

{% block page_content %}
    <div class="content">

        <div class="card">
            <div class="card-header">
                {% include '@AkyosCms/crud/elements/_header.html.twig' with {'title': 'Ajouter un composant', 'button_back': true, 'header_route' : 'templates_builder_index'} %}
            </div>
            <div class="card-body">
                {{ include('@AkyosBuilder/templates_builder/_form.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("/bundles/akyosbuilder/builderjs.js") }}" type="application/javascript"></script>
{% endblock %}
