{% for childComponent in component.childComponents %}
    <div class="swiper-slide {{ customClasses is defined ? ' '~customClasses : '' }}">
        {{ renderComponent(childComponent)|raw }}
    </div>
{% endfor %}