<div class="swiper-slide builder-component--container{{ customClasses is defined ? ' '~customClasses : '' }}">
    {% include '@AkyosBuilder/front/render_components.html.twig' with {'components' : component.childComponents} %}
</div>
