.component-news{
	&--link {

	}
	&__thumb {
		position: relative;
		overflow: hidden;

		> * {
			@include objectFit(cover, center, 100%, 100%);
		}

		&__date {
			position: absolute;
			top: 0;
			left: 0;
			width: fit-content;
			height: fit-content;
			padding: 5px 10px;
			color: var(--light);
			background-color: var(--secondary);
			box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.4);
		}
	}
	&__title {
		font-size: 20px;
		font-weight: 700;
		color: var(--dark);
	}
	&__excerpt {
		font-size: 16px;
	}
	&__more {
		color: var(--primary);
	}
}
