.component-button {
	@include flex(row, wrap, center, center);

	&__link {
		width: fit-content;
		transition: .3s;

		&.component-button {
			&-primary {
				background-color: var(--primary);
				border: 1px solid var(--primary);
			}

			&-secondary {
				background-color: var(--secondary);
				border: 1px solid var(--secondary);
			}

			&-white {
				background-color: var(--light);
				border: 1px solid var(--light);
			}

			&-black {
				background-color: var(--dark);
				border: 1px solid var(--dark);
			}

			&-transparent {
				background-color: transparent;

				&.component-button-text {

					&-primary {
						border: 1px solid var(--primary);
					}

					&-secondary {
						border: 1px solid var(--secondary);
					}

					&-white {
						border: 1px solid var(--light);
					}

					&-black {
						border: 1px solid var(--dark);
					}
				}
			}

			&-text {

				&-primary {
					color: var(--primary);
				}

				&-secondary {
					color: var(--secondary);
				}

				&-white {
					color: var(--light);
				}

				&-black {
					color: var(--dark);
				}
			}
		}

		&:hover {
			background-color: transparent;
			text-decoration: none;

			&.component-button {
				&-primary {
					color: var(--primary);
				}

				&-secondary {
					color: var(--secondary);
				}

				&-white {
					color: var(--light);
				}

				&-black {
					color: var(--dark);
				}

				//&-text {
				//
				//	&-primary {
				//		background-color: var(--primary);
				//	}
				//
				//	&-secondary {
				//		background-color: var(--secondary);
				//	}
				//
				//	&-white {
				//		background-color: var(--light);
				//	}
				//
				//	&-black {
				//		background-color: var(--dark);
				//	}
				//}
			}
		}
	}
}