.component-title {

    // COLOR
    &--white {
        color: $white;
    }

    &--black {
        color: $black;
    }

    &--primary {
        color: $primary;
    }

    &--secondary {
        color: $secondary;
    }

    // UNDERLINE
    &--underline {
        position: relative;

        &:after {
            position: absolute;
            content: "";
            top: calc(100% + 20px);
            left: 0;
            width: 50px;
            height: 3px;
        }

        &.component-title--white {
            &:after {
                background-color: $white;
            }
        }

        &.component-title--black {
            &:after {
                background-color: $black;
            }
        }

        &.component-title--primary {
            &:after {
                background-color: $primary;
            }
        }

        &.component-title--secondary {
            &:after {
                background-color: $secondary;
            }
        }
    }

    // POSITION
    &--left {
        text-align: left;
    }

    &--right {
        text-align: right;
    }

    &--center {
        text-align: center;
    }

    // FONT-WEIGHT
    &--weight-light {
        font-weight: 300;
    }

    &--weight-default {
        font-weight: 400;
    }

    &--weight-bold {
        font-weight: 700;
    }
}
