<div class="component-map">
    <div id="map" data-lat="{{ values.latitude ? values.latitude : "47.3167"  }}" data-lng="{{ values.longitude ? values.longitude : "5.0167"  }}" data-zoom="{{ values.zoom ? values.zoom : "12" }}"></div>
</div>
