<div class="component-last-news {{ customClasses ? ' '~customClasses : '' }}">
    {% for new in news %}
        {{ renderComponentBySlug('news', {
            'post' : new
        })|raw }}
    {% endfor %}
</div>